:root{
    --primaryColar: #F8AFA6;
    --secondaryColar: #F9F1F0;
    --lightColor:#b99156;
    --bgColor-1:#E4B7A0;
    --bgColor-2:#C38370;
    --padding: 8%;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: "Josefin Sans", sans-serif;
    font-size: 16px;
    background-color: var(--bgColor-1);
}

.home{
    width: 100%;
    height: 100vh;
    background-color: var(--bgColor-1);
    display: flex;
    flex-direction: column;
}

span{
    color: beige;
}

h2{
    font-size: 2.2rem;
    letter-spacing: 0.12rem;
    cursor: pointer;
    color:#C38370;
}

nav{
    padding-top: 4.2rem;
    padding-left: var(--padding);
    padding-right: var(--padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    margin: 0.8rem 1.5rem ;
}

nav ul li a{
    color: var(--lightColor);
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.4s;
}

nav ul li a:hover{
    color: var(--secondaryColar);
}

.btn{
    background-color: #b99156;
    color:beige;
    text-decoration: none;
    font-weight: bold;
    padding: 0.8rem 1.87rem;
    border-radius: 30px;
    transition: 0.4s;
    border: 2px solid transparent;

}

.btn:hover{
    background-color: transparent;
    border: 2px solid var(--secondaryColar);
}

.content{
    flex-grow: 1;
    padding: 0 var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.container-texts{
    position: relative;
    bottom: 70px;
}
h1{
    font-size: 3.65rem;
    margin: 2.7rem 0;
    color:#C38370; 
    text-align: center;


}
h2{
    font-size: 2.65rem;
    margin: 1.7rem 0;
    color:bisque; 
}
h3{
    font-size: 1.0rem;
    color: beige;
    margin-bottom: 3.5rem;
}

.social{
    margin-top: 3.5rem;
}

.social img{
    margin-right: 2rem;
    width: 2.5rem;
    transition: 0.4s;
}

.social img:hover{
    transform: scale(1.2);
}

.home.container-imeg{
    width: 45%;
    height: 90%;
    position: relative;
    align-self: flex-end;
}

.home.container-imeg img {
    position: absolute;
    bottom: 0;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
}
.home.container-imeg:hover .Data{
     bottom: 40px;
}
.About{
    background-color: var(--bgColor-2);
    padding: 2rem var(--padding);
    display: flex;
    color:bisque;
    align-items: center;
    justify-content: space-around;
}
.About .container-texts{
    width: 45%;
}

p{
    color:bisque;
    letter-spacing: 1px;
    line-height: 1.8rem;
    font-size: 1rem;
}
h5{
    font-size: 1.37rem;
    margin-bottom: 1.5rem;
    letter-spacing: 2px;
    color:#E4B7A0;
}
.Skills{
    background-color:#E4B7A0;
    padding: 2rem var(--padding);

}

.text-center{
    text-align: center;
}

.box{
    display: flex;
    justify-content: space-between;
}

.card{
    width: 1000px;
    background-color: var(--lightColor);
    border-radius: 20px;
    padding: 1.3rem 2rem;
    align-items: center;
}
.card i{
    font-size: 8.5rem;
    text-align: center;
    color:bisque;
    margin: 2rem;
}

footer{
    padding: 2rem var(--padding);
    background-color: var(--bgColor-1);
}

footer .content-footer{
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
}

form{
    font-size: 1rem;
    text-align: center;
    color:bisque;
    margin: 4rem;
}
 
*, ::before, ::after {
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x:  ;
    --tw-pan-y:  ;
    --tw-pinch-zoom:  ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal:  ;
    --tw-slashed-zero:  ;
    --tw-numeric-figure:  ;
    --tw-numeric-spacing:  ;
    --tw-numeric-fraction:  ;
    --tw-ring-inset:  ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(63 131 248 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur:  ;
    --tw-brightness:  ;
    --tw-contrast:  ;
    --tw-grayscale:  ;
    --tw-hue-rotate:  ;
    --tw-invert:  ;
    --tw-saturate:  ;
    --tw-sepia:  ;
    --tw-drop-shadow:  ;
    --tw-backdrop-blur:  ;
    --tw-backdrop-brightness:  ;
    --tw-backdrop-contrast:  ;
    --tw-backdrop-grayscale:  ;
    --tw-backdrop-hue-rotate:  ;
    --tw-backdrop-invert:  ;
    --tw-backdrop-opacity:  ;
    --tw-backdrop-saturate:  ;
    --tw-backdrop-sepia:  ;
  }
  